.hidden {
	display: none !important;
}
.center-content {
	text-align: center !important;
}
.cherry_giver_logo_text {
	font-size: 1.95rem !important;
}
.classic_font {
	font-weight: 100;
	color: white;
	text-align: center;
}
.white_font {
	font: Roboto;
	font-weight: 100;
	color: white;
	font-size: 14px;
}
#long_bio {
	height: 120px !important;
}
.background_color {
	background:rgba(0,0,0,0.2);
	margin: 2rem auto;
	padding: 0 1rem;
}
.form_title {
	text-align: center;
	color: white;
}

.edit {
	margin-top: 7px;
	float: right;
}
/*New CSS*/
.buttons {
  border-radius: 20px !important;
}
.navpad {
  padding-left: 50px;
  padding-right: 50px;

}
.backgroundcol {
  background-color: #000f28;
  height: 45px;
  margin: 0;
  padding: 0;
}
.headtop {
  padding: 0;
  margin: 0;
}

.headpad {
  padding-top: 10px;
}
.classicfont2 {
  color: white;
  text-align: right;
}
.pfontsize {
  font-size: 15px;
  text-decoration: underline;
}
.img {
  width: 100%;
  margin-bottom: none;
	margin-left: none;
	margin-right: none;

}
h3 {
  text-align: center;
}

.herotextborder {
	border: 3px solid #ffffff;
	padding: 0.5em !important;
	background-color: rgba(0,0,0,0.2) !important;
}

.herotextmain {
  font-size: 64px !important;
  font-weight: 600 !important;
  font-family: 'IBM Plex Sans Condensed', sans-serif; */

}
.herotextsub {
	font-size: 32px !important;
	font-weight: 200 !important
}

.columns {
  text-align: center;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-size: 20px;
	padding: 1em !important;
	height: 10em;
}


.no-space {
	margin: 0 !important;
	padding: 0 !important;
}
.columntext {
	color: rgba(255,255,255,0.84);
}
.iconsize{
	font-size: 3.3rem;
	color: white;
}

.charities-container {
	margin: 0.25rem;
}

.charity-tile {
	padding: 0.25rem !important;
}

.charity-tile-content {
	min-height: 560px;
}

.charity-tile > .card {
	margin-bottom: 0;
	margin-top: 0;
}
.findacharityhead{
	text-align: center;
	font-size: 3em;
	font-weight: 300 !important;
}
.featurecharitydescription{
	font-size: 1.2rem !important;
	color: rgba(255,255,255,0.84) !important;
}
.charityinfobox {
	background-color: white;
	margin: 0 11px !important;
	box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.donatenowbox {
	font-size: 27px !important;
}
.editbox {
	font-size: 27px !important;
	line-height: 50px !important;
}
.charity_name_box {
	font-size: 4em;
	font-family: 'IBM Plex Sans Condensed', sans-serif;
	text-align: center;
	margin-bottom: 7px;
	margin-top: 15px;
	padding-top: 7px;
}
.charity_bio_box {
	text-align: left;
	font-weight: 200;
	font-size: 25px;
	margin-top: 10px !important;
	margin-bottom: 40px !important;
}
.money_title_box{
	font-size: 22px;
	font-weight: 200;
}
.descriptive_photo {
	width: 100%;
	height: auto;
}
.money_num_size {
	font-size: 20px;
	margin-top: 0px;
}
.needed_title {
	color: #212121;
	text-align: center;
	font-size: 3em;
}
.edit_button {
	z-index: 1 !important;
	position: absolute !important;
	left: 95% !important;
	top: 12% !important;
}
.progressbar {
	margin-top: 40px !important;
}
.money_raised_text{
	font-weight: 300;
	font-size: 30px;
	color: #009688;
	margin-top: 8px;
	margin-bottom: 0px;
}
.goal_text {
	font-size: 20px;
	font-weight: 300;
	color: #80cbc4;
	margin-top: 0px;
}
.addcampaign_btn{
	position: absolute !important;
	top: 45em !important;
	left: 78% !important;
	bottom: 5px;
}
.campaign-img {
	height: 250px;
}
.campaign-content {
	min-height: 200px;
}

.info_text {
	font-size: 3em;
}
.info_sub_text {
	font-size: 1.2em;
}
.error_format {
	background-color: #f77165;
	border: 3px solid #b71c1c;
	border-radius: 10px;
	padding: 5px;
}
.success_format {
	background-color: #f77165;
	border: 3px solid #b71c1c;
	border-radius: 10px;
	padding: 5px;
}
.team_member_name {
	font-size: 2em;
}
.team_role{
	font-size: 1em;
	margin-bottom: 1em !important;
}
.team_description{
	font-size: 1.1em !important;
}
.team_links{
	margin-bottom: 0 !important;
}
.inspiration_head{
	text-align: center !important;
	font-size: 1.6em !important;
	font-weight: 300;
	margin-top: 10px;
}
.inspiration_description{
	font-weight: 300;
	font-size: 1.1em;
	color: rgba(255,255,255,0.96) !important;
}
.quotes{
	font-family: 'News Cycle', sans-serif;
	font-size: 90px;
	margin-bottom: 10px;
	height: 57px;
	margin-top: 0px;
	color: white;
}
/* For mobile portrait */
@media only screen
	and (min-device-width: 300px)
	and (max-device-width: 700px)
	and (orientation: portrait) {
.heroimg {
	height: auto;
  width: 100% !important;
}

.herotextmain {
	font-size: 32px !important;
}
.herotextsub {
	font-size: 24px !important;
}
.columntext{
	font-size: 1.3rem;
}
.iconsize{
	font-size: 3.3rem;
	color: white;
}
.columns {
	height: 10rem;
}
.resize_text{
	padding-right: 30px;
  padding-left: 30px;
}
.info_text{
	font-size: 2.3em;
}
.info_sub_text{
	font-size: 1.1em;
}
.donatenowbox {
	font-size: 17px !important;
}
.editbox {
	font-size: 17px !important;
	margin-top: 10px;
	height: 35px !important;
	line-height: 37px !important;
}
.charity_name_box{
	font-size: 2.8em;
	position: relative;
}
.charity_bio_box {
	font-size: 18px;
	margin-bottom: 8px !important;
}
.progressbar {
	margin-top: 20px !important;
}
.needed_title {
	font-size: 2em;
}
.edit_button {
	left: 80% !important;
	top: 12% !important;
	width: 53px !important;
	height: 53px !important;
}
.addcampaign_btn{
	top: 70rem !important;
	left: 5% !important;
	width: 47px !important;
	height: 47px !important;
	bottom: 5px;
}
.campaign-img {
	height: 175px;
}
.campaign-content {
	min-height: 200px
}



}
@media only screen and (min-width: 300px) and (max-width: 700px){
	.donatenowbox {
		font-size: 20px !important;
		width: 232px;
    padding-right: 0px;
    padding-left: 0px;
	}
	.editbox {
		font-size: 20px !important;
		width: 232px;
    padding-right: 0px;
    padding-left: 0px;
		line-height: 37px;
		margin-top: 10px;
	}

}
/* For tablets */
@media only screen and (min-device-width: 701px) and (max-device-width: 1200px)
{
	.herotextborder {
		height:250px;
	}
	.columntext{
		font-size: 1.3em;
	}
	.info_text{
		font-size: 3em;
	}
	.info_sub_text{
		font-size: 1.2em;
	}
	.donatenowbox {
		font-size: 20px !important;
		width: 160px !important;
		height: 50px !important;

	}
	.editbox {
		font-size: 20px !important;
		width: 160px !important;
		height: 50px !important;
		line-height: 50px !important;
	}
	.charity_name_box{
		font-size: 4em;
		position: relative;
	}
	.charityinfobox{
		top: 19% !important;
	}
	.charity_bio_box {
		font-weight: 200;
		font-size: 1.9em;
	}
	.edit_button {
		font-size: 2em;
		left: 6% !important;
		top: 30% !important;
	}
	.addcampaign_btn{
		top: 42em !important;
		left: 86% !important;
		bottom: 5px;
	}
}

@media only screen and (min-width: 701px) and (max-width: 1200px)
{
	.donatenowbox {
		font-size: 20px !important;
		width: 200px !important;
		height: 50px !important;
	}
	.editbox {
		font-size: 20px !important;
		width: 200px !important;
		height: 50px !important;
	}

}
/* For smaller desktop screens */
@media only screen and (min-device-width: 1201px) and (max-device-width: 1365px) {
	.herotextborder {
		height:300px;
	}
	.info_sub_text{
		font-size: 1.4em;
	}

	}
	/* For smaller desktop screens */
	@media only screen and (min-device-width: 1366px) {
		.donatenowbox{
			width: 250px !important;
			height: 50px !important;
		}
		.heroimg {
			width: 100%;
		}
		.editbox{
			width: 250px !important;
			height: 50px !important;
		}

}
