.classic_font {
	font-weight: 100;
	color: white;
	text-align: center;
}
.white_font {
	font: Roboto;
	font-weight: 100;
	color: white;
	font-size: 14px;
}

h2 {
	color: blue;
}
.background_color {
	background:rgba(0,0,0,0.2);
	margin: 2rem auto;
	padding: 0 1rem;
}
.form_title {
	text-align: center;
	color: white;
}

.edit {
	margin-top: 7px;
	float: right;
}
/*New CSS*/
.buttons {
  border-radius: 20px !important;
}
.navpad {
  padding-left: 50px;
  padding-right: 50px;

}
.backgroundcol {
  background-color: #000f28;
  height: 45px;
  margin: 0;
  padding: 0;
}
.headtop {
  padding: 0;
  margin: 0;
}

.headpad {
  padding-top: 10px;
}
.classicfont2 {
  color: white;
  text-align: right;
}
.pfontsize {
  font-size: 15px;
  text-decoration: underline;
}
.img {
  width: 100%;
  margin-bottom: none;

}
h3 {
  text-align: center;
}
.heroimg {
  z-index: -1;
}
.herotextborder {
	border: 3px solid white !important;
	padding-bottom: 0 !important;
	height:245px;


}

.herotextmain {
	left: 55% !important;
  top: 10% !important;
  font-size: 6em !important;
  color: #fefffc !important;
  font-weight: 600 !important;
  font-family: 'IBM Plex Sans Condensed', sans-serif;

}
.herotextsub {
  left: 55% !important;
  top: 30% !important;
  font-size: 2.3em !important;
  color: #fefffc !important;
	font-weight: 200 !important;

}
/*.herotextborder {
	border: 3px solid white !important;
}*/

.columns {
  text-align: center;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-size: 20px;
	padding: 1em !important;
}


.no-space {
	margin: 0 !important;
	padding: 0 !important;
}
.columntext {
	color: rgba(255,255,255,0.84);
}

.charities-container {
	margin: 0.25rem;
}

.charity-tile {
	padding: 0.25rem !important;
}

.charity-tile > .card {
	margin-bottom: 0;
	margin-top: 0;
}
.findacharityhead{
	text-align: center;
}
.featuredboxshadow {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	height: 382px;
}
.feauturedcharitytext {
	background-color: #212121;
  font-family: 'Raleway', sans-serif;
	color: white;
	float: right;
 	margin: 0 0 1.2em 0;
	padding: .4em;
}
.leftfeaturedcharitybox {
	margin-bottom: 0px;
	padding: 0px !important;
}
.rightfeaturedcharitybox{
text-align: left;
font-family: 'Raleway', sans-serif;
font-size: 38px;
color: white;
}
.learnmorebox {
	color: white;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	border: 3px solid white;
	padding: 0 !important;
	height: 41px;
  width: 166px;
}
.charityinfobox {
	background-color: white;
	width:24em;
	z-index: 1;
	left: 68% !important;
	top: 20% !important;
	position: absolute;
	box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding-left: 11px;
	padding-right: 11px;
}
.charity_name_box {
	font-size: 35px;
	font-family: 'IBM Plex Sans Condensed', sans-serif;
	text-align: center;
	margin-bottom: 7px;
	margin-top: 15px;
	padding-top: 7px;
}
.charity_bio_box {
	text-align: left;
	font-weight: 200;
	font-size: 25px;
	margin-top:0;
}
.money_title_box{
	font-size: 22px;
	font-weight: 200;
}
.descriptive_photo {
	width: 100%;
	height: 38em;
	z-index: -1;
	margin-bottom: none;
}
.money_num_size {
	font-size: 20px;
	margin-top: 0px;
}
.donatenowbox {
	background-color: #212121;
	color: white;
	font-size: 20px;
	font-weight:200;
	text-align: center;
  padding-bottom: 10px;
  height: 40px;
  padding-top: 5px;
  width: 120px;
	padding-right: 2px;
	box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.needed_title {
	color: #212121;
	text-align: center;
}
.edit_button {
	z-index: 1 !important;
	position: absolute !important;
	left: 95% !important;
	top: 12% !important;
}

.money_raised_text{
	font-weight: 300;
	font-size: 30px;
	color: #009688;
	margin-top: 15px;
	margin-bottom: 0px;
}
.goal_text {
	font-size: 20px;
	font-weight: 300;
	/* color:#616161; */
	color: #80cbc4;
	margin-top: 0px;
}
.addcampaign_btn{
	position: absolute !important;
	top: 45em !important;
	left: 66% !important;
	bottom: 5px;
}
