{% extends 'base.html' %}
{%load staticfiles %}

{% block navbar %}
<nav>
    <!-- <div class="nav-wrapper grey lighten-5 navpad"> -->
    <div class="nav-wrapper  grey darken-4 navpad">
      <!-- <img class="brand-logo" src="{% static 'logo2.png' %}"/> -->
      <a href="/" class="brand-logo white-text thin cherry_giver_logo_text">Cherry Giver</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons white-text">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/"><i class="material-icons">home</i></a></li>
        <!-- <li><a href="/" class="btn cyan darken-1 buttons">Home</a></li> -->
        <li><a href="/charities" class="btn cyan darken-1 buttons">Find a Charity<i class="material-icons left">search</i></a></li>
        {% if user.is_authenticated %}
          <li><a href="#" class="btn cyan darken-1 buttons" id="logout_btn">Logout</a></li>
        {% else %}
          <li><a href="{% url 'signup' %}" class="btn cyan darken-1 buttons">Signup<i class="material-icons left">person_add</i></a></li>
           <!-- <a class="waves-effect waves-light btn modal-trigger" href="#login">Modal</a> -->
          <li><a href="#login" class="btn cyan darken-1 buttons modal-trigger">Login<i class="material-icons left">arrow_forward</i></a></li>
        {% endif %}
        <li><a href="/team" class="btn cyan darken-1 buttons">Team<i class="material-icons left">people</i></a></li>



      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="/">Home</a></li>
    <li><a href="/charities">Find a Charity<i class="material-icons right">search</i></a></li>
    {% if user.is_authenticated %}
      <li><a href="#" id="logout_btn_sidebar">Logout</a></li>
    {% else %}
      <li><a href="{% url 'signup' %}">Signup<i class="material-icons right">person_add</i></a></li>
      <li><a href="#login" class="modal-trigger">Login<i class="material-icons right">arrow_forward</i></a></li>
    {% endif %}
    <li><a href="/team">Team<i class="material-icons right">people</i></a></li>
  </ul>

<!-- Login Modal -->
  <div id="login" class="modal">
    <div class="modal-content">
      <h4 class="center-content thin" style="font-size: 3em;">Login</h4>
      <p class="center-content">Login if you are an existing charity. If you are a user click on "Find a Charity"</p>

      <div id="login-error" class="row hidden error_format">
          <p>Login Failed. Please check your username and password.</p>
      </div>

      <div id="login-spinner" class="row hidden">
        <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
        <span>Please wait</span>
      </div>

      <div id="login-form-row" class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <input placeholder="Placeholder" id="user_name" type="text" class="validate">
              <label for="first_name">Username</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate">
              <label for="password">Password</label>
            </div>
          </div>

          <div class="row">
          <a class="waves-effect waves-light btn" id="login_btn" style="float: right;">Login</a>
        </div>


          <p style="float: right; margin-bottom: 0;">Don't have an account?<a href="/signup/"> Signup</a></p>

        </form>
      </div>

    </div>
    <div class="modal-footer">
      <a href="#" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>

{% endblock %}
