{% extends 'base.html' %}


{% block navbar %}
<nav>
    <div class="nav-wrapper grey lighten-5 navpad">
      <a href="/" class="brand-logo blue-grey-text text-darken-4 thin">Cherry Giver</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons black-text">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/" class="btn red buttons">Home</a></li>
        <li><a href="/charities" class="btn red buttons">Find a Charity</a></li>
        {% if user.is_authenticated %}
          <li><a href="{% url 'logout' %}" class="btn red buttons">Logout</a></li>
        {% else %}
          <li><a href="{% url 'signup' %}" class="btn red buttons">Sign Up</a></li>
          <li><a href="{% url 'login' %}" class="btn red buttons">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="/">Home</a></li>
    <li><a href="/charities">Find a Charity</a></li>
    {% if user.is_authenticated %}
      <li><a href="{% url 'logout' %}">Logout</a></li>
    {% else %}
      <li><a href="{% url 'signup' %}">Sign Up</a></li>
      <li><a href="{% url 'login' %}">Login</a></li>
    {% endif %}
  </ul>

{% endblock %}
