{% extends 'base_with_navbar.html' %}
{% load staticfiles %}

{% block content %}
<div class="charities-container">
  <h1 class="thin black-text findacharityhead">Find a Charity</h1>

  <div class="row">
      <div class="col l8 offset-l2 s12 m10 offset-m1">
        <div class="row">
          <form id="searchSubmit">
            <div class="input-field col s12">
              <i class="material-icons prefix">search</i>
              <input type="text" id="autocomplete-input" class="autocomplete">
              <label id="autocomplete-help" for="autocomplete-input">Search by name, category...</label>
            </div>
          </form>
        </div>
      </div>
    </div>


  <div class="row" id="default-results" >

    {% if no_items %}
      <div class="row">
          <div class="col s8 offset-s2">
            <p>Sorry, no results found for your search.</p>
          </div>
      </div>
    {% endif %}

    <div class="row">
      {% for i in items %}
        <a href="{{i.profile_url}}">
          <div class="col s12 m6 l4 charity-tile">
            <div class="card grey lighten-4 charity-tile-content">

              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{i.formatted_image}}">
              </div>


              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">
                  {{i.name}}
                </span>
                <p class="black-text">{{i.bio}}</p>
                <p class=" green-text darken-3">${{i.total_goal}} Goal</p>
              </div>

              <div class="card-content">
                {% for tag in i.all_tags %}
                    <div class="chip">
                      {{tag.name}}
                    </div>
                {% endfor %}
              </div>

            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>

  <div class="row hidden" id="fetching-search">
    <div class="col s8 offset-s2">
      <p>Searching for charities</p>
      <div class="progress">
        <div class="indeterminate"></div>
      </div>
    </div>
  </div>

</div>
{% endblock %}
