{% extends 'base_with_navbar.html' %}
{% load staticfiles %}

{% block content %}
<div class="charities-container">
  <h1 class="thin black-text findacharityhead">Find a Charity</h1>
  <div class="row">

    <div class="row">
      {% for i in items %}
        <a href="{{i.profile_url}}">
          <div class="col s4 charity-tile">
            <div class="card grey lighten-4">

              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{i.img_url}}">
              </div>


              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">
                  {{i.name}}
                </span>
                <p class="black-text">{{i.bio}}</p>
                <p class=" green-text darken-3">+${{i.money_raised}}</p>
                <!-- <p><a href="{{i.url}}" target="_blank">Visit our Website</a></p> --> <!--Option 2: Says Visit our Wbesite-->
                  <!-- <i class="material-icons"><a href="{{i.url}}" target="_blank">open_in_new</a></i> --><!-- Option 3: Icon Under Title-->
              </div>

              {% for tag in i.tags %}
                  <div class="chip">
                    {{tag}}
                    <i class="close material-icons">close</i>
                  </div>
              {% endfor %}

            </div>
          </div>
        </a>
      {% endfor %}
    </div>


  </div>
</div>
{% endblock %}
