{% extends 'base_with_navbar.html' %}
{% load staticfiles %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row">
  <!-- <button class="btn-small grey darken-3 thin donatenowbox waves-effect waves-light">Donate Now</button> -->
  <h1 class="black-text charity_name_box">{{ charity.name }}<a href="{{charity.charity_url}}" target="_blank"><i class="material-icons small">open_in_new</i></a></h1>
</div>

<div class="row">
    <div class="col l6 m6 s12 center-content">
    <button class="btn-small grey darken-3 thin donatenowbox waves-effect waves-light">Donate Now</button>
    </div>

    {% if charity_logged_in %}
    <div class="col l6 m6 s12 center-content">
    <a href="#edit" class="waves-effect waves-light thin editbox btn modal-trigger"><i class="material-icons left">create</i>Edit</a>
    </div>
    {% endif %}
</div>




<div class="row">
  <div class="col xl6 l12 m12 s12">
  <img class="descriptive_photo" src="{{charity.formatted_image}}">
  </div>
      <div class="col xl6 l12 m12 s12">
        <div class="card">
          <div class="card-content">
          <p>
            {% for tag in charity.all_tags %}
            <div class="chip">
              <span>{{tag.name}}</span>
            </div>
            {% endfor %}

          </p>

          <p class="charity_bio_box black-text">{{charity.bio_detail}}</p>
          <hr>
          <div class="progress progressbar">
            <div class="determinate" style="width:{{charity.percent_goal}}%"></div>
          </div>

          {% if charity.has_campaign_items %}
            <p class="money_raised_text">${{charity.money_raised}}</p>
            <p class="goal_text">raised out of ${{charity.total_goal}} goal</p>
          {% else %}
            <p class="thin" style="font-size: 1.2em;">No campaigns items created, add campaign items below</p>
          {% endif %}
      </div>
    </div>
</div>


 <!-- Edit Modal -->
   <div id="edit" class="modal">
     <div class="modal-content">
       <h4>Edit Page</h4>
       <p>*leave field unchanged if no edit*</p>

       <div class="row">
         <form class="col s12">
           <input type="hidden" value="{{charity.id}}" id="charity_id"></input>
           <input type="hidden" value="{{charity.name}}" id="charity_current_name"></input>

           <div class="row">
             <div class="input-field col s12">
               <i class="material-icons prefix">person</i>
               <input id="name" placeholder="{{charity.name}}" type="text">
               <label for="name">Charity Name</label>
             </div>
           </div>

           <div class="row">
             <div class="input-field col s12">
               <i class="material-icons prefix">create</i>
               <input placeholder="{{charity.bio}}" id="bio" type="text">
               <label for="bio">Bio</label>
             </div>
           </div>

           <div class="row">
             <div class="input-field col s12">
               <i class="material-icons prefix">create</i>
                <textarea placeholder="{{charity.long_bio}}" id="long_bio" rows="4" class="materialize-textarea"></textarea>
                <label for="long_bio">Long Bio</label>
             </div>
           </div>

           <div class="row">
             <div class="input-field col s12">
               <i class="material-icons prefix">link</i>
               <input id="url" placeholder="{{charity.charity_url}}" type="text">
               <label for="url">Charity Webpage</label>
             </div>
           </div>

           <div class="row">
             <div class="input-field col s12">
               <i class="material-icons prefix">image</i>
               <input id="img_url" placeholder="{{charity.img_url}}" type="text">
               <label for="img_url">Image URL</label>
             </div>
           </div>

           <p class="thin" style="font-size:1.7em;">Check off categories that apply:</p>
          <!-- Checkboxes -->
           <div class="row">
             {% for tag in all_tags %}
             <div class="col s12 m6 l4">
               <p>
                <label>
                  <input type="checkbox" class="filled-in update-tag" {{tag.checked}} data-name="{{tag.name}}" />
                  <span>{{tag.name}}</span>
                </label>
               </p>
            </div>
            {% endfor %}

     </div>

           <a class="waves-effect waves-light btn" style="float: right;"id="update_btn">Update</a>

         </form>
       </div>
     </div>
     <div class="modal-footer">
       <a href="#" class="modal-close waves-effect waves-green btn-flat">Close</a>
     </div>
   </div>




  <div class="row">
    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
      {% for campaign_in_list in charity.campaigns %}
        <li>
            <a href="{{charity.profile_url}}?campaign_id={{campaign_in_list.id}}">{{campaign_in_list.name}}</a>
        </li>
      {% endfor %}
    </ul>
  </div>


  <div class="row">
    <h2 class="thin needed_title">
      {{campaign.formatted_name}} Budget
      <a class="dropdown-trigger" href="#" data-target="dropdown1"> <i class="material-icons">arrow_drop_down</i></a>
      <!-- {% if charity_logged_in %}
        <a href="#addcampaign" class="btn-floating btn-large cyan lighten-1 addcampaign_btn modal-trigger"><i class="material-icons">create</i></a>
      {% endif %} -->
    </h2>
    <!-- Dropdown Trigger -->
  </div>

  {% if charity_logged_in %}
    <div class="row">
      <div class="col l6 m6 s6 center-content">
        <a href="#createcampaign" class="waves-effect waves-light btn modal-trigger"><i class="material-icons left">add</i>Create Campaign</a>
      </div>
      <div class="col l6 m6 s6 center-content">
          <a href="#addcampaignitem" class="waves-effect waves-light btn modal-trigger"><i class="material-icons left">add</i>Add Campaign Item</a>
      </div>
    </div>
  {% endif %}

  <!-- Create Campaign Modal -->
    <div id="createcampaign" class="modal">
      <div class="modal-content">
        <div class="row">
          <form class="col s12">
            <div class="row">
              <input type="hidden" value="{{charity.id}}" id="charity_id"></input>
              <div class="input-field col s12">
                <input placeholder="ex: My First Campaign" id="new_campaign_name" type="text" class="validate">
                <label for="new_campaign_name">Campaign Name</label>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <a class="waves-effect waves-light btn" id="create_campaign_btn">Create</a>
      </div>
  </div>

  <!-- Add Campaign Modal -->
  <div id="addcampaignitem" class="modal">

      <div class="modal-content">
        <div class="row">
          <form class="col s12">

            <div class="row">
              <div class="input-field col s12">
                  <select id="campaign_selected">
                    <option value="" selected disabled>Please select campaign</option>
                    {% for campaign_in_list in charity.campaigns %}
                    <option value="{{campaign_in_list.id}}">{{campaign_in_list.name}}</option>
                    {% endfor %}
                  </select>
                  <label>Campaign</label>
              </div>
            </div>


            <div class="row">

              <div class="input-field col s6">
                <input placeholder="Item Name" id="item_name" type="text" class="validate">
                <label for="item_name">Item Name</label>
              </div>

              <div class="input-field col s6">
                <input placeholder="Item Cost" id="item_cost" type="text" class="validate">
                <label for="item_cost">Item Cost</label>
              </div>

            </div>


            <div class="row">
              <div class="input-field col s12">
                <input placeholder="Item Description" id="item_description" type="text" class="validate">
                <label for="item_description">Item Description</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <input placeholder="Item Image URL" id="item_img_url" type="text" class="validate">
                <label for="item_img_url">Item Image URL</label>
              </div>
            </div>

          </form>
        </div>
      </div>


      <div class="modal-footer">
        <a class="waves-effect waves-light btn" id="add_campaign_item">Add</a>
      </div>

  </div>


  <div class="row">
  {% for i in campaign.campaign_items %}
     <div class="col s10 offset-s1 m6 l4">
       <div class="card">
         <div class="card-image">
           <img class="campaign-img" src="{{i.item_img_url}}">
           <!-- <span class="card-title">{{i.item_name}}</span> -->
         </div>
         <div class="card-content campaign-content">
            <span class="card-title">{{i.item_name}}</span>
           <p>{{i.item_description}}</p>
           <p class=" green-text darken-2">${{i.item_cost_formatted}}</p>
           {% if charity_logged_in %}
           <a href="#" data-campaign-item-id="{{i.id}}" class="delete-campaign-item">
             <i class="material-icons">delete</i>
           </a>
           {% endif %}
         </div>
       </div>
     </div>
    {% endfor %}
  </div>

{% endblock %}
