{% extends 'base_with_navbar.html' %}
{% load staticfiles %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row">
<p href="#needhelp"class="blue-text lighten-2 modal-trigger"style="float: right; text-decoration: underline; padding-right: 1em; font-size: 1.1em;">Need help?</p>
</div>
<div class="row">
  <!-- <button class="btn-small grey darken-3 thin donatenowbox waves-effect waves-light">Donate Now</button> -->
  <h1 class="black-text charity_name_box">{{ charity.name }}<a href="{{charity.charity_url}}" target="_blank"><i class="material-icons small">open_in_new</i></a></h1>
</div>

<div class="row">
    <!-- <div class="col l6 m6 s12 center-content">
    <button data-target="donate" class="btn-small grey darken-3 thin donatenowbox waves-effect waves-light modal-trigger">Donate Now</button>
    </div> -->

    {% if charity_logged_in %}
    <div class="col l6 m6 s12 center-content">
    <a href="#edit" class="waves-effect waves-light thin editbox btn modal-trigger"><i class="material-icons left">create</i>Edit</a>
    </div>
    {% endif %}
</div>
<!--Need Help Modal-->
<div id="needhelp" class="modal">
    <div class="modal-content">

      <h4 style="text-align: center; font-weight: 300;">Help is Here!</h4>
      <p style="text-align: center; font-size: 1.2em; font-weight:300;">We strive on making sure clients can get the help they need to make the process of signing up and maintaining a page easier.</p>


    <div class="row">
      <div class="col s12">
        <div class="card-panel grey lighten-3">
          <p style="font-weight: 300; font-size: 1.7em; text-align: center;">Light bulbs to the rescue!</p>
          <div class="row">
            <div class="col s6 offset-s5">
           <i class="large material-icons prefix yellow-text text-darken-3">lightbulb_outline</i>
            </div>
         </div>
         <p style="font-weight: 300; font-size: 1.1em; text-align: center;">Through out our pages there are yellow light bulbs that give you the best tips and help answer questions. When in doubt click away!</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <div class="card-panel grey lighten-3">
          <p style="font-weight: 300; font-size: 1.7em; text-align: center;">How to Utilize Elements on Your Page to the Fullest</p>
         <p style="font-weight: 300; font-size: 1.1em; text-align: center;">Here is a screen shot of an example page of an animal shelter charity. We will explain each component of their page to give you a great example of how to fill your page to get the best results!</p>
         <picture>
           <source media="(max-width: 700px)" srcset="{% static 'example_charity_tall.png' %}"/>
           <img class="heroimg" src="{% static 'example_charity.png' %}"/>
         </picture>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <div class="card-panel grey lighten-3">
          <p style="font-weight: 300; font-size: 1.7em; text-align: center;">Edit</p>
         <p style="font-weight: 300; font-size: 1.1em; text-align: center;">Click on the edit button to edit any portions of your page.</p>
         <img class="heroimg"src="{% static 'edit_button.png' %}"/>
         <p style="font-weight: 300; font-size: 1.1em; text-align: center;">Most everything is self explanatory! The only thing we want to highlight is the bio and long bio. The <b>bio</b> field is where you can write a <b>short</b> statement about your charity which will be listed on the Find a Charity page. The <b>long bio</b> will be listed on your profile where you can go more into <b>depth</b> about your charity.</p>
         <img class="heroimg"src="{% static 'bio.png' %}"/>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <div class="card-panel grey lighten-3">
          <p style="font-weight: 300; font-size: 1.7em; text-align: center;">Tags, Tags, Tags</p>
         <p style="font-weight: 300; font-size: 1.1em; text-align: center;">Tags are essentially how donors can search for your charity. Check off the tags that apply to you in the edit form.</p>
         <img class="heroimg"src="{% static 'tags.png' %}"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <div class="card-panel grey lighten-3">
          <p style="font-weight: 300; font-size: 1.7em; text-align: center;">Campaigns</p>
         <p style="font-weight: 300; font-size: 1.1em; text-align: center;">To create a campaign click on the create campaign button. Campaigns allow you to explain what your currently working on. For example, for the animal shelter they are having a Puppy Fall Fundraiser.</p>
         <p style="font-weight: 300; font-size: 1.1em; text-align: center;">To create campaign items click on the add campaign item button. Campaign items let you explain what components are in your campaign and how funding is allocated. For example, the animal shelter is utilizing their campaign to raise money for dog toys, beds, and food.</p>

         <picture>
           <source media="(max-width: 700px)" srcset="{% static 'example_campaign_tall.png' %}"/>
           <img class="heroimg"src="{% static 'example_campaign.png' %}"/>
         </picture>

        </div>
      </div>
    </div>


    </div>

    <div class="modal-footer">
      <a href="#!" class="modal-close btn-flat">Close</a>
    </div>

</div>
<!-- Donate Modal -->
  <!-- <div id="donate" class="modal">
    <div class="modal-content">
      <h4>{{charity.name}} Donation</h4>
    </div>
    <div class="modal-footer">
      <a class="waves-effect waves-light btn" id="donate_btn">Donate</a>
    </div>
</div> -->


<div class="row">
  <div class="col xl6 l12 m12 s12">
  <img class="descriptive_photo" src="{{charity.formatted_image}}">
  </div>
      <div class="col xl6 l12 m12 s12">
        <div class="card">
          <div class="card-content">
          <p>
            {% for tag in charity.all_tags %}
            <div class="chip">
              <span>{{tag.name}}</span>
            </div>
            {% endfor %}

          </p>

          <p class="charity_bio_box black-text">{{charity.bio_detail}}</p>
          <hr>
          <!-- <div class="progress progressbar">
            <div class="determinate" style="width:{{charity.percent_goal}}%"></div>
          </div> -->

          {% if charity.has_campaign_items %}
            <!-- <p class="money_raised_text">${{charity.money_raised}}</p> -->
            <p class="money_raised_text">${{charity.total_goal}} goal</p>
          {% else %}
            <p class="thin" style="font-size: 1.2em;">No campaigns items created, add campaign items below</p>
          {% endif %}
      </div>
    </div>
</div>


 <!-- Edit Modal -->
   <div id="edit" class="modal">
     <div class="modal-content">
       <h4>Edit Page</h4>
       <p>*leave field unchanged if no edit*</p>

       <div class="row">
         <form class="col s12">
           <input type="hidden" value="{{charity.id}}" id="charity_id"></input>
           <input type="hidden" value="{{charity.name}}" id="charity_current_name"></input>

           <div class="row">
             <div class="input-field col s12">
               <i class="material-icons prefix">person</i>
               <input id="name" placeholder="{{charity.name}}" type="text">
               <label for="name">Charity Name</label>
             </div>
           </div>

           <div class="row">
             <div class="input-field col s12">
               <i class="material-icons prefix">create</i>
               <input placeholder="{{charity.bio}}" id="bio" type="text">
               <label for="bio">Bio</label>
             </div>
           </div>

           <div class="row">
             <div class="input-field col s12">
               <i class="material-icons prefix">create</i>
                <textarea placeholder="{{charity.long_bio}}" id="long_bio" rows="4" class="materialize-textarea"></textarea>
                <label for="long_bio">Long Bio</label>
             </div>
           </div>

           <div class="row">
             <div class="input-field col s12">
               <i class="material-icons prefix">link</i>
               <input id="url" placeholder="{{charity.charity_url}}" type="text">
               <label for="url">Charity Webpage</label>
             </div>
           </div>

           <div class="row">
             <div class="input-field col s12">
                 <!-- <i class="material-icons prefix">image</i> -->
                 <i href="#image_info" class="material-icons prefix yellow-text text-darken-3 modal-trigger">lightbulb_outline</i>
               <input id="img_url" placeholder="{{charity.img_url}}" type="text">
               <label for="img_url">Image URL</label>
             </div>
           </div>

           <!-- Image Info Modal -->
           <div id="image_info" class="modal">
             <div class="modal-content">
               <p class="center-content" style="font-size: 1.4em; font-weight:300; margin-top: 0px;">Want to use an Image from you Computer?</p>
               <p><a href ="https://postimages.org/" target="_blank">1. Go to PostImage.</a></p>
               <p>2. Choose an image and follow the instructions on the page.</p>
               <p>3. Copy and paste the <b>direct link</b> into the Image URL field on CherryGiver.</p>
             </div>
             <div class="modal-footer">
               <a href="#!" class="modal-close  btn-flat">Close</a>
             </div>
           </div>

           <p class="thin" style="font-size:1.7em;">Check off categories that apply:</p>
          <!-- Checkboxes -->
           <div class="row">
             {% for tag in all_tags %}
             <div class="col s12 m6 l4">
               <p>
                <label>
                  <input type="checkbox" class="filled-in update-tag" {{tag.checked}} data-name="{{tag.name}}" />
                  <span>{{tag.name}}</span>
                </label>
               </p>
            </div>
            {% endfor %}

     </div>

           <a class="waves-effect waves-light btn" style="float: right;"id="update_btn">Update</a>

         </form>
       </div>
     </div>
     <div class="modal-footer">
       <a href="#" class="modal-close waves-effect waves-green btn-flat">Close</a>
     </div>
   </div>




  <div class="row">
    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
      {% for campaign_in_list in charity.campaigns %}
        <li>
            <a href="{{charity.profile_url}}?campaign_id={{campaign_in_list.id}}">{{campaign_in_list.name}}</a>
        </li>
      {% endfor %}
    </ul>
  </div>


  <div class="row">
    <h2 class="thin needed_title">
      {{campaign.formatted_name}} Budget
      <a class="dropdown-trigger" href="#" data-target="dropdown1"> <i class="material-icons">arrow_drop_down</i></a>
      <!-- {% if charity_logged_in %}
        <a href="#addcampaign" class="btn-floating btn-large cyan lighten-1 addcampaign_btn modal-trigger"><i class="material-icons">create</i></a>
      {% endif %} -->
    </h2>
    <!-- Dropdown Trigger -->
  </div>

  {% if charity_logged_in %}
    <div class="row">
      <div class="col l6 m6 s6 center-content">
        <a href="#createcampaign" class="waves-effect waves-light btn modal-trigger"><i class="material-icons left">add</i>Create Campaign</a>
      </div>
      <div class="col l6 m6 s6 center-content">
          <a href="#addcampaignitem" class="waves-effect waves-light btn modal-trigger"><i class="material-icons left">add</i>Add Campaign Item</a>
      </div>
    </div>
  {% endif %}

  <!-- Create Campaign Modal -->
    <div id="createcampaign" class="modal">
      <div class="modal-content">
        <h4>Create Campaign</h4>
        <p>Campaign title explains the current project your working on (Ex: Puppy Fall Fundraiser)</p>
        <div class="row">
          <form class="col s12">
            <div class="row">
              <input type="hidden" value="{{charity.id}}" id="charity_id"></input>
              <div class="input-field col s12">
              <i href="#campaign_info"class="material-icons prefix yellow-text text-darken-3 modal-trigger">lightbulb_outline</i>
                <input placeholder="ex: My First Campaign" id="new_campaign_name" type="text" class="validate">
                <label for="new_campaign_name">Campaign Name</label>
              </div>
            </div>
          </form>

          <!-- Campaign Info Modal -->
          <div id="campaign_info" class="modal">
            <div class="modal-content">
              <p style="font-weight: 300; font-size: 1.7em; text-align: center;">Campaigns</p>
              <p style="font-weight: 300; font-size: 1.1em; text-align: center;">To create a campaign click on the create campaign button. Campaigns allow you to explain what your currently working on. For example, for an animal shelter might have a Puppy Fall Fundraiser.</p>
              <p style="font-weight: 300; font-size: 1.1em; text-align: center;">To create campaign items click on the add campaign item button. Campaign items let you explain what components are in your campaign and how funding is allocated. For example, an animal shelter might utilize their campaign to raise money for dog toys, beds, and food.</p>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-close  btn-flat">Close</a>
            </div>
          </div>


        </div>
      </div>
      <div class="modal-footer">
        <a class="waves-effect waves-light btn" id="create_campaign_btn">Create</a>
      </div>
  </div>



  <!-- <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">link</i>
      <input id="url" placeholder="{{charity.charity_url}}" type="text">
      <label for="url">Charity Webpage</label>
    </div>
  </div> -->

  <!-- Add Campaign Item Modal -->
  <div id="addcampaignitem" class="modal">

      <div class="modal-content">
        <h4>Add Campaign Item</h4>
        <p>Campaign items break down the different components of your campaign. (Ex: Dog Toys, Dog Beds, Dog Food)</p>
        <div class="row">
          <form class="col s12">

            <div class="row">
              <div class="input-field col s12">
                  <select id="campaign_selected">
                    <option value="" selected disabled>Please select campaign</option>
                    {% for campaign_in_list in charity.campaigns %}
                    <option value="{{campaign_in_list.id}}">{{campaign_in_list.name}}</option>
                    {% endfor %}
                  </select>
                  <label>Campaign</label>
              </div>
            </div>


            <div class="row">

              <div class="input-field col s6">
                <i class="material-icons prefix">create</i>
                <input placeholder="Item Name" id="item_name" type="text" class="validate">
                <label for="item_name">Item Name</label>
              </div>

              <div class="input-field col s6">
                <i class="material-icons prefix">attach_money</i>
                <input placeholder="Item Cost" id="item_cost" type="text" class="validate">
                <label for="item_cost">Item Cost</label>
              </div>

            </div>


            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">help_outline</i>
                <input placeholder="Item Description" id="item_description" type="text" class="validate">
                <label for="item_description">Item Description</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <i href="#image_info2" class="material-icons prefix yellow-text text-darken-3 modal-trigger">lightbulb_outline</i>
                <input placeholder="Item Image URL" id="item_img_url" type="text" class="validate">
                <label for="item_img_url">Item Image URL</label>
              </div>
            </div>

            <!-- Image Info Modal -->
            <div id="image_info2" class="modal">
              <div class="modal-content">
                <p class="center-content" style="font-size: 1.4em; font-weight:300; margin-top: 0px;">Want to use an Image from you Computer?</p>
                <p><a href ="https://postimages.org/" target="_blank">1. Go to PostImage.</a></p>
                <p>2. Choose an image and follow the instructions on the page.</p>
                <p>3. Copy and paste the <b>direct link</b> into the Image URL field on CherryGiver.</p>
              </div>
              <div class="modal-footer">
                <a href="#!" class="modal-close  btn-flat">Close</a>
              </div>
            </div>

          </form>
        </div>
      </div>


      <div class="modal-footer">
        <a class="waves-effect waves-light btn" id="add_campaign_item">Add</a>
      </div>

  </div>


  <div class="row">
  {% for i in campaign.campaign_items %}
     <div class="col s10 offset-s1 m6 l4">
       <div class="card">
         <div class="card-image">
           <img class="campaign-img" src="{{i.item_img_url}}">
           <!-- <span class="card-title">{{i.item_name}}</span> -->
         </div>
         <div class="card-content campaign-content">
            <span class="card-title">{{i.item_name}}</span>
           <p>{{i.item_description}}</p>
           <p class=" green-text darken-2">${{i.item_cost_formatted}}</p>
           {% if charity_logged_in %}
           <a href="#" data-campaign-item-id="{{i.id}}" class="delete-campaign-item">
             <i class="material-icons">delete</i>
           </a>
           {% endif %}
         </div>
       </div>
     </div>
    {% endfor %}
  </div>

{% endblock %}
