{% extends 'base_with_navbar.html' %}

{% block content %}
<div class="row container" style=" margin-top: 4em;">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Placeholder" id="new_user_name" type="text" class="validate">
          <label for="new_user_name">Username</label>
        </div>

        <div class="input-field col s6">
          <input id="new_password" type="password" class="validate">
          <label for="new_password">Password</label>
        </div>
      </div>


      <div class="row">
        <div class="input-field col s6">
          <input id="new_charity_name" type="text" class="validate">
          <label for="new_charity_name">Charity Name</label>
        </div>

        <div class="input-field col s6">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s8">
          <input id="new_charity_url" type="text" class="validate">
          <label for="new_charity_url">Charity Webpage</label>
        </div>
      </div>

        <a class="waves-effect waves-light btn" id="signup_submit">Sign Up</a>

    </form>
  </div>
{% endblock %}
