{% extends 'base_with_navbar.html' %}

{% block content %}
<div class="row container" style=" margin-top: 4em;">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Placeholder" id="new_user_name" type="text" class="validate">
          <label for="new_user_name">Username</label>
        </div>

        <div class="input-field col s6">
          <input id="new_password" type="password" class="validate">
          <label for="new_password">Password</label>
        </div>
      </div>


      <div class="row">
        <div class="input-field col s6">
          <input id="new_charity_name" type="text" class="validate">
          <label for="new_charity_name">Charity Name</label>
        </div>

        <div class="input-field col s6">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s8">
          <input id="new_charity_url" type="text" class="validate">
          <label for="new_charity_url">Charity Webpage</label>
        </div>
      </div>

        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn modal-trigger" href="#signup_modal" id="signup_submit">Sign Up</a>


    </form>
  </div>

  <!-- Modal Structure -->
  <div id="signup_modal" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <div id="signup-error" class="row hidden">
          <p>Signup Failed. Please check you have entered all fields.</p>
      </div>

      <div id="signup-spinner" class="row hidden">
        <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
        <span>Please wait</span>
      </div>
  </div>
</div>
{% endblock %}
