{% extends 'base_with_navbar.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
  <h1 class="black-text findacharityhead">Who We Are</h1>


  <div class="row">
      <div class="col s12 m8 offset-m2 l5">
        <div class="card">

          <div class="card-image">
            <img src="{% static 'profile.JPG' %}">
          </div>

          <div class="card-content">
            <span class="thin card-title activator grey-text text-darken-4">Anjali Segu</span>
            <!-- <p class="thin team_member_name">Anjali Segu</p> -->
            <p class="team_role grey-text">Founder & Lead Engineer</p>

            <div class="row team_links">
                <div class="col s1 m1">
                <a href="mailto:cherrygiver.org@gmail.com" target="_top"><i class="material-icons">email</i></a>
                </div>

                <div class="col s10 m11">
                  <p>cherrygiver.org@gmail.com</p>
                </div>
            </div>

            <div class="row">
              <div class="col s1 m1 ">
              <a target="_blank" href="https://github.com/anjali-segu/cherry"><i class="material-icons">open_in_new</i></a>
              </div>

              <div class="col s10 m11">
                <p>@anjali-segu(Github)</p>
              </div>
            </div>
          </div>

          <!-- <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Anjali Segu<i class="material-icons right">close</i></span>
            <p class="team_description">Anjali Segu is currently a senior at Westwood High School. She is apart of the 4 year computer science track at her school. She has also completed 200+ hours of training on Harvard CS50, Udemy, and Codecademy.</p>
          </div> -->

        </div>
      </div>

      <div class="col l7">
        <div class="card-panel cyan darken-2">
          <!-- <p class="white-text" style="font-size: 2em; font-weight: 200; margin-top: 0px;margin-bottom: 18px;">Anjali Segu</p> -->
          <p class="inspiration_description team_bio_description">Anjali Segu is currently a senior at Westwood High School.
            She is apart of the 4 year computer science track at her school.
            She has also completed 200+ hours of training on Harvard CS50, Udemy, and Codecademy. She has been actively volunteering at local Austin charities for the past 6 years.</p>
        </div>
      </div>

    </div>


    <div class="row">
      <div class="card-panel cyan darken-4" style="padding-top: 0px !important;">
        <p class="quotes">''</p>
        <p class="inspiration_description">Over the past few years my experiences
          with volunteering at local charities has led me to realize how
          prohibitively expensive developing and maintaining a modern website is for any
          small organization. At that moment I knew I had to engineer better technology to support
          these small charity organizations. Over my senior and junior I dedicated myself to sign up
           for almost every technology online class I could find. And soon CherryGiver was born. </p>
        <p class="inspiration_description">CherryGiver
        allows charities to be given the opportunity to explain the work they do. So many charities go unheard of every day
        simply because they don't have the technology. My goal over the next few years is to reach out to more and more charities and give
        them the chance to have a platform on which they can clearly explain what they work on.</p>
      </div>
    </div>
    </div>


</div>

{% endblock %}
